<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name=".dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/libraries2</property>
      <property name = "hibernate.connection.username">
          Admin
      </property>

      <property name = "hibernate.connection.password">
          Admin
      </property>
      <property name="connection.pool_size">4</property>
   <!-- <property name="current_session_context_class">thread</property>
   --> <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <!--<property name="hibernate.hbm2ddl.auto">create</property>-->

   <!--<mapping resource="Author.hbm.xml"/>-->
      <mapping class="model.Author"/>
      <mapping class="model.Person"/>
    <mapping resource="Book.hbm.xml"/>
      <mapping resource="TableLibrariesEntity.hbm.xml"/>
      <!--<mapping resource="TableLibrariesEntity.hbm.xml"/>
      <mapping class="model.TableLibrariesEntity"/>
-->
  </session-factory>
</hibernate-configuration>
